/* HORARIOS */
.asideHorarios {
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 10px;
}
.horarios {
    list-style-type: none;
}
.horarios1 {
    font-size: x-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgb(58, 32, 5);;;
    color: white;
    text-transform: capitalize;
}
.horarios2, .horarios6, .horarios8 {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    color: rgb(225, 133, 36);
}