/* NOTICIAS */
.noticiasArticle {
    height: auto;
    /* border: 1px solid red; */
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.113);
    border-radius: 10px;
}
.noticiasArticle1 {
    width: auto;

}
.noticiasArticle2 {
    width: auto;

}
.noticiasArticle3,.noticiasArticle4,.noticiasArticle5,.noticiasArticle6 {
    width: auto;

}
.imgNoticias {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.articleDiv {
    text-align: left;
    /* border: 1px solid green; */
}
.articleTitle {
    display: block;
    font-size: x-large;
    color: aliceblue;
    /* border: 1px solid blue; */
    margin-bottom: 5px;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* CONTACTO */
.subMainContacto {
    max-width: 1400px;
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.789);
}
.contactoSpan {
    display: block;
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    background-color: #eac162a4;
    border-radius: 10px;
}
.contactoInput {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: white;
}
.contactoInput::placeholder {
    color: wheat;

}
.contactoSubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    background-color: #e5a717c3;
    color: white;
}
.contactoSubmit:hover {
    cursor: pointer;
    background-color: #e5a71758;
    transition: 500ms;
}