/* NOTICIAS */
.noticiasArticle {
    height: auto;
    /* border: 1px solid red; */
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.113);
    border-radius: 10px;
}
.noticiasArticle1 {
    width: auto;

}
.noticiasArticle2 {
    width: auto;

}
.noticiasArticle3,.noticiasArticle4,.noticiasArticle5,.noticiasArticle6 {
    width: auto;

}
.imgNoticias {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.articleDiv {
    text-align: left;
    /* border: 1px solid green; */
}
.articleTitle {
    display: block;
    font-size: x-large;
    color: aliceblue;
    /* border: 1px solid blue; */
    margin-bottom: 5px;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}