/* COMO ENTRENAMOS */
.main {
    .subMain1 {
        .comoEntrenamosArticle {
            /* border: 1px solid red; */
            padding: 5px;
            margin: 20px;

            .comoEntrenamosImg {
                width: 100%;
                /* border: 1px solid blue; */
                border-radius: 20px;
                transition: 500ms;
            }

            .subtitle {
                color: $color1;
            }

            .text {
                color: $color2;
            }
        }
    }

    .subMain2 {
        padding: 20px;

        .comoEntrenamosVideo {
            width: 100%;
            max-width: 400px;
            max-height: 700px;
            border-radius: 20px;
            justify-self: center;
        }

        .comoEntrenamosVideoTexto {
            .contenedorTexto {
                padding-top: 10px;
                margin-left: 10px;

                .subTitulo {
                    padding-bottom: 25px;
                    text-align: center;
                }

                .comoEntrenamos-ul {
                    padding-left: 0;

                    .comoEntrenamosSubMain2Texto {
                        padding: 7px 0;
                        background-color: rgba(35, 29, 12, 0.671);
                        border-radius: 10px;
                        margin-bottom: 10px;
                        list-style: none;
                        color: #eddfc0;
                        text-align: center;
                    }
                }
            }
        }
    }
}