// VARIABLES

// fonts
$font1: 'Barlow Semi Condensed', sans-serif;

// font sizes
$fonts: (
    font-size-mobile: 1.1em,
    font-size-tablet: 1.4em,
    font-size-desktop: 1.8em,
);

// colors
$color1: rgb(225, 133, 36);
$color2: rgb(239, 200, 149);
$color3: black;

// shadows
$shadow1: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
$text-shadow1: 2px 2px 5px black;

// transition
$transition1: 0.6s;

// MIXINS
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

@mixin pm ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}