/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ESTILOS GENERALES */
* {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.1em;
  color: rgb(225, 133, 36);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid {
  max-width: 1000px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid .collapse {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid .collapse .navbar-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin-right: 1vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
  -webkit-transition: 0.5;
  transition: 0.5;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  -webkit-transition: 0.5;
  transition: 0.5;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: 0.5;
  transition: 0.5;
}
.navbar .container-fluid .navbar-brand {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container-fluid .navbar-brand .beastlogo {
  width: 100%;
  max-width: 120px;
  min-width: 50px;
  margin: 2%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.padding-top {
  padding-top: 150px !important;
}

.h1-title {
  color: rgb(239, 200, 149);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(225, 134, 36, 0.0509803922)), color-stop(rgba(186, 173, 60, 0.1803921569)), color-stop(rgba(147, 203, 121, 0.2156862745)), color-stop(rgba(126, 223, 188, 0.1843137255)), to(rgba(149, 236, 239, 0.1960784314)));
  background-image: linear-gradient(to right, rgba(225, 134, 36, 0.0509803922), rgba(186, 173, 60, 0.1803921569), rgba(147, 203, 121, 0.2156862745), rgba(126, 223, 188, 0.1843137255), rgba(149, 236, 239, 0.1960784314));
  opacity: 50%;
  padding: 1% 2% 1%;
  margin-bottom: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main {
  background-image: url(../media/background.jpeg);
  background-position: center;
  background-size: contain;
}
.main .subMain2 {
  padding-top: 0 !important;
  min-height: 50vh !important;
}
.main .subMain {
  padding: 110px 0px 20px 0px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.789);
  max-width: 1400px;
}
.main .subMain .article {
  padding: 10px;
  margin-bottom: 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article:hover {
  background-color: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .contenedorTexto .subtitle {
  text-shadow: 2px 2px 5px black;
}
.main .subMain .article .contenedorTexto .text {
  color: rgb(239, 200, 149);
  text-shadow: 2px 2px 5px black;
  margin: 0 8px;
}
.main .subMain .article .imgLeft, .main .subMain .article .imgRight {
  width: 100%;
  height: auto;
  background-image: url(../media/beast1.jpg);
  min-height: 300px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .imgLeft:hover, .main .subMain .article .imgRight:hover {
  -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
          box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .imgRight {
  background-image: url(../media/beastfemenino.jpg);
  background-position: center;
  border-radius: 0 0 10px 10px;
}
.main .subMain .article .imgRight:hover {
  -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
          box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .imgFuncional, .main .subMain .article .imgMiniBeast {
  width: 100%;
  height: 80vh;
  background-image: url(../media/funcional.jpg);
  max-height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .imgFuncional:hover, .main .subMain .article .imgMiniBeast:hover {
  -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
          box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .subMain .article .imgMiniBeast {
  background-image: url(../media/minibeast.jpg);
}
.main .subMain .article .imgMiniBeast:hover {
  -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
          box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer {
  width: 100%;
}
.footer .subFooter {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  width: 100%;
}
.footer .subFooter .subSubFooter {
  display: block;
  bottom: 40px;
  margin-top: 10px;
  margin: 10px;
}
.footer .subFooter .logo_footer {
  width: 100px;
  height: auto;
  max-width: 140px;
  margin: 10px;
}

.btn-warning {
  background-color: rgba(255, 255, 255, 0.113);
  color: rgb(239, 200, 149);
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* COMO ENTRENAMOS */
.main .subMain1 .comoEntrenamosArticle {
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(108, 14, 209, 0.0392156863)), color-stop(rgba(246, 0, 135, 0.0862745098)), color-stop(rgba(255, 46, 46, 0.0823529412)), color-stop(rgba(246, 164, 0, 0.0509803922)), to(rgba(166, 235, 18, 0.0666666667)));
  background-image: linear-gradient(to left top, rgba(108, 14, 209, 0.0392156863), rgba(246, 0, 135, 0.0862745098), rgba(255, 46, 46, 0.0823529412), rgba(246, 164, 0, 0.0509803922), rgba(166, 235, 18, 0.0666666667));
}
.main .subMain1 .comoEntrenamosArticle .comoEntrenamosImg {
  width: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  /* border: 1px solid blue; */
  border-radius: 10px !important;
  -webkit-transition: 500ms;
  transition: 500ms;
  margin-bottom: 1rem;
}
.main .subMain1 .comoEntrenamosArticle .comoEntrenamosImg1 {
  -o-object-position: top;
     object-position: top;
}
.main .subMain1 .comoEntrenamosArticle .comoEntrenamosImg3 {
  -o-object-position: bottom;
     object-position: bottom;
}
.main .subMain1 .comoEntrenamosArticle .subtitle {
  margin-bottom: 1rem;
  color: rgb(225, 133, 36);
}
.main .subMain1 .comoEntrenamosArticle .text {
  color: rgb(239, 200, 149);
}
.main .subMain2 {
  padding: 20px;
}
.main .subMain2 .comoEntrenamosVideo {
  width: 100%;
  max-width: 400px;
  max-height: 700px;
  border-radius: 20px;
  justify-self: center;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto {
  padding-top: 10px;
  margin-left: 10px;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .subTitulo {
  padding-bottom: 25px;
  text-align: center;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .comoEntrenamos-ul {
  padding-left: 0;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .comoEntrenamos-ul .comoEntrenamosSubMain2Texto {
  padding: 7px 0;
  background-color: rgba(35, 29, 12, 0.671);
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: #eddfc0;
  text-align: center;
}

/* GALERIA */
.carousel-item {
  max-height: 600px;
}

.containerGaleriaImg {
  /* float: left; */
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 10px;
}

.galeriaImg {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  border-radius: 20px;
  -webkit-transition: 500ms;
  transition: 500ms;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeriaImg:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  /* transition: 500ms; */
  -webkit-box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.4235294118), 5px 5px 15px 5px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.4235294118), 5px 5px 15px 5px rgba(0, 0, 0, 0.575);
}

.swiper {
  width: 100%;
  height: 100%;
  grid-column: 1/end;
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  opacity: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* NOTICIAS */
.noticiasArticle, .main .subMain1 .comoEntrenamosArticle {
  display: grid;
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-line-pack: start;
      align-content: start;
}
.noticiasArticle:hover, .main .subMain1 .comoEntrenamosArticle:hover {
  background-color: rgba(0, 0, 0, 0.324);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.noticiaTexto {
  font-size: 1.3rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 8%;
  background-color: rgba(0, 0, 0, 0.904);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: rgb(234, 218, 198);
  border-radius: 10px;
}
.noticiaTexto.collapse.show {
  min-height: 100%;
  display: grid;
}

.imgNoticias {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  scale: 1;
}
.noticiasArticle:hover .imgNoticias, .main .subMain1 .comoEntrenamosArticle:hover .imgNoticias {
  scale: 1.05;
}

.noticiaHora {
  color: rgba(149, 236, 239, 0.203);
  font-size: smaller;
  text-align: right;
}

.articleDiv {
  text-align: left;
  position: relative;
}

.articleTitle {
  display: block;
  font-size: x-large;
  color: aliceblue;
  margin-bottom: 1rem;
}

.articleText {
  margin-bottom: 2rem;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.divBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divBtnRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.masInfo {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* HORARIOS */
.asideHorarios {
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}

.horarios {
  list-style-type: none;
}

.horarios1 {
  font-size: x-large;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(58, 32, 5);
  color: white;
  text-transform: capitalize;
}

.horarios2,
.horarios6,
.horarios8 {
  font-size: large;
  margin-top: 15px;
  margin-bottom: 5px;
  list-style-type: none;
  color: rgb(225, 133, 36);
}

/* CONTACTO */
.formContacto {
  max-width: 600px;
}

.contactoSpan {
  display: block;
  margin-bottom: 10px;
  background-color: rgba(234, 193, 98, 0.6431372549);
  border-radius: 10px;
}

.contactoInput {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
}

.contactoInput::-webkit-input-placeholder {
  color: wheat;
}

.contactoInput::-moz-placeholder {
  color: wheat;
}

.contactoInput:-ms-input-placeholder {
  color: wheat;
}

.contactoInput::-ms-input-placeholder {
  color: wheat;
}

.contactoInput::placeholder {
  color: wheat;
}

.contactoSubmit {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  background-color: rgba(229, 167, 23, 0.7647058824);
  color: white;
}

.contactoSubmit:hover {
  cursor: pointer;
  background-color: rgba(229, 167, 23, 0.3450980392);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.contactoinputComentario {
  min-height: 8rem;
  max-height: 20rem;
}

@media only screen and (min-width: 480px) {
  .main {
    background-size: cover;
  }
  .main .subMain {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main .subMain .subMain-div {
    display: grid;
    grid-column: 1/3;
  }
  .main .subMain .carousel {
    grid-column: 1/3;
  }
  .main .subMain .article1 {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 1/3;
  }
  .main .subMain .article1 .imgLeft, .main .subMain .article1 .article .imgRight, .main .subMain .article .article1 .imgRight {
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 140px;
  }
  .main .subMain .article1 .imgRight {
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: 140px;
  }
  .main .subMain .article1 .contenedorTexto {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 3vw;
  }
  .main .subMain .article1 .contenedorTexto .text {
    position: relative;
    top: 5vh;
  }
  .main .subMain .article2 {
    margin: 10px;
    grid-column: 1/2;
    align-self: baseline;
  }
  .main .subMain .article2 .imgFuncional, .main .subMain .article2 .article .imgMiniBeast, .main .subMain .article .article2 .imgMiniBeast {
    height: 50vh;
    min-height: 400px;
  }
  .main .subMain .article3 {
    margin: 10px;
    grid-column: 2/3;
    align-self: baseline;
  }
  .main .subMain .article3 .imgMiniBeast {
    height: 50vh;
    min-height: 400px;
  }
  .subMain2 {
    margin: 20px;
  }
  .h1-title {
    grid-column: 1/3;
  }
  .footer .subFooter {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .subFooter .subSubFooter {
    grid-column: 1/2;
    margin-left: 3vw;
  }
  .footer .subFooter .logo_footer {
    width: 50%;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: center;
  }
  .subMainContainer {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .main .subMain {
    padding-top: 130px;
  }
  .subMainContainer {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .containerGaleriaImg1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .containerGaleriaImg8 {
    grid-column: 2/4;
    grid-row: 4/6;
  }
  .footer .subFooter {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .subFooter .subSubFooter1 {
    grid-column: 1/3;
  }
  .footer .subFooter .subSubFooter2 {
    grid-column: 1/2;
  }
  .footer .subFooter .subSubFooter3 {
    grid-column: 2/3;
  }
  .footer .subFooter .logo_footer {
    grid-column: 3/4;
  }
}
.swiper-slide img {
  height: 40rem;
}

@media only screen and (min-width: 1000px) {
  .navbar .container-fluid .navbar-brand .beastlogo {
    min-width: 90px;
  }
  .padding-top {
    padding-top: 180px !important;
  }
  .footer .subFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .subFooter .logo_footer {
    justify-self: center;
  }
  .main .subMain {
    padding-top: 140px;
  }
  .main .subMain .article .contenedorTexto {
    font-size: 1.4em;
  }
  .main .subMain .article .imgLeft, .main .subMain .article .imgRight {
    max-height: 250px;
  }
  .main .subMain .article .imgRight {
    max-height: 250px;
  }
  .main .subMain .article .imgFuncional, .main .subMain .article .imgMiniBeast {
    max-height: 500px;
  }
  .main .subMain .article .imgMiniBeast {
    max-height: 500px;
  }
}
@media only screen and (min-width: 1220px) {
  .contenedorTexto {
    font-size: 1.8em;
  }
  .subMainContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=styles.css.map */