/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.1em;
  color: rgb(225, 133, 36);
  transition: 0.6s;
}

.padding-top {
  padding-top: 180px;
}

.navbar .container-fluid {
  max-width: 1000px;
}
.navbar .container-fluid .collapse .navbar-nav {
  flex-wrap: wrap;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin-right: 1vw;
}
.navbar .container-fluid .navbar-brand .beastlogo {
  width: 100%;
  max-width: 60px;
  min-width: 50px;
  margin: 2%;
}

.h1-title {
  color: rgb(239, 200, 149);
  background-color: rgba(237, 223, 192, 0.0666666667);
  padding: 1% 2% 1%;
}

.main {
  background-image: url(../media/background.jpeg);
  background-position: center;
  background-size: contain;
}
.main .subMain {
  padding: 170px 0px 20px 0px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.789);
  max-width: 1400px;
  min-height: 700px;
}
.main .subMain .article {
  padding: 10px;
  margin-bottom: 30px;
  transition: 0.6s;
}
.main .subMain .article:hover {
  background-color: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  transition: 0.6s;
}
.main .subMain .article .contenedorTexto .subtitle {
  text-shadow: 2px 2px 5px black;
}
.main .subMain .article .contenedorTexto .text {
  color: rgb(239, 200, 149);
  text-shadow: 2px 2px 5px black;
  margin: 0 8px;
}
.main .subMain .article .imgLeft, .main .subMain .article .imgRight {
  width: 100%;
  height: 25hv;
  background-image: url(../media/beast1.jpg);
  max-height: 150px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.6s;
}
.main .subMain .article .imgLeft:hover, .main .subMain .article .imgRight:hover {
  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  transition: 0.6s;
}
.main .subMain .article .imgRight {
  background-image: url(../media/beastfemenino.jpg);
  background-position: center;
  border-radius: 0 0 10px 10px;
}
.main .subMain .article .imgRight:hover {
  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  transition: 0.6s;
}
.main .subMain .article .imgFuncional, .main .subMain .article .imgMiniBeast {
  width: 100%;
  height: 80vh;
  background-image: url(../media/funcional.jpg);
  max-height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: 0.6s;
}
.main .subMain .article .imgFuncional:hover, .main .subMain .article .imgMiniBeast:hover {
  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  transition: 0.6s;
}
.main .subMain .article .imgMiniBeast {
  background-image: url(../media/minibeast.jpg);
}
.main .subMain .article .imgMiniBeast:hover {
  box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
  transition: 0.6s;
}

.footer {
  width: 100%;
}
.footer .subFooter {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  width: 100%;
}
.footer .subFooter .subSubFooter {
  display: block;
  bottom: 40px;
  margin-top: 10px;
  margin: 10px;
}
.footer .subFooter .logo_footer {
  width: 100px;
  height: auto;
  max-width: 140px;
  margin: 10px;
}

/* COMO ENTRENAMOS */
.main .subMain1 .comoEntrenamosArticle {
  /* border: 1px solid red; */
  padding: 5px;
  margin: 20px;
}
.main .subMain1 .comoEntrenamosArticle .comoEntrenamosImg {
  width: 100%;
  /* border: 1px solid blue; */
  border-radius: 20px;
  transition: 500ms;
}
.main .subMain1 .comoEntrenamosArticle .subtitle {
  color: rgb(225, 133, 36);
}
.main .subMain1 .comoEntrenamosArticle .text {
  color: rgb(239, 200, 149);
}
.main .subMain2 .comoEntrenamosVideo {
  width: 100%;
  max-width: 400px;
  max-height: 700px;
  border-radius: 20px;
  justify-self: center;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto {
  padding-top: 10px;
  margin-left: 10px;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .subTitulo {
  padding-bottom: 25px;
  text-align: center;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .comoEntrenamos-ul {
  padding-left: 0;
}
.main .subMain2 .comoEntrenamosVideoTexto .contenedorTexto .comoEntrenamos-ul .comoEntrenamosSubMain2Texto {
  padding: 7px 0;
  background-color: rgba(35, 29, 12, 0.671);
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: #eddfc0;
  text-align: center;
}

/* GALERIA */
.carousel-item {
  max-height: 600px;
}

.containerGaleriaImg {
  /* float: left; */
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 10px;
}

.galeriaImg {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  border-radius: 20px;
  transition: 500ms;
}

.galeriaImg:hover {
  transform: scale(105%);
  /* transition: 500ms; */
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.4235294118), 5px 5px 15px 5px rgba(0, 0, 0, 0.575);
}

/* NOTICIAS */
.noticiasArticle {
  height: auto;
  /* border: 1px solid red; */
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 10px;
}

.noticiasArticle1 {
  width: auto;
}

.noticiasArticle2 {
  width: auto;
}

.noticiasArticle3, .noticiasArticle4, .noticiasArticle5, .noticiasArticle6 {
  width: auto;
}

.imgNoticias {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.articleDiv {
  text-align: left;
  /* border: 1px solid green; */
}

.articleTitle {
  display: block;
  font-size: x-large;
  color: aliceblue;
  /* border: 1px solid blue; */
  margin-bottom: 5px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* HORARIOS */
.asideHorarios {
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 10px;
}

.horarios {
  list-style-type: none;
}

.horarios1 {
  font-size: x-large;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(58, 32, 5);
  color: white;
  text-transform: capitalize;
}

.horarios2, .horarios6, .horarios8 {
  font-size: large;
  margin-top: 15px;
  margin-bottom: 5px;
  list-style-type: none;
  color: rgb(225, 133, 36);
}

/* CONTACTO */
.subMainContacto {
  max-width: 1400px;
  min-height: 1000px;
  background-color: rgba(0, 0, 0, 0.789);
}

.contactoSpan {
  display: block;
  /* border: 1px solid blue; */
  margin-bottom: 10px;
  background-color: rgba(234, 193, 98, 0.6431372549);
  border-radius: 10px;
}

.contactoInput {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
}

.contactoInput::-moz-placeholder {
  color: wheat;
}

.contactoInput:-ms-input-placeholder {
  color: wheat;
}

.contactoInput::placeholder {
  color: wheat;
}

.contactoSubmit {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  background-color: rgba(229, 167, 23, 0.7647058824);
  color: white;
}

.contactoSubmit:hover {
  cursor: pointer;
  background-color: rgba(229, 167, 23, 0.3450980392);
  transition: 500ms;
}

@media only screen and (min-width: 480px) {
  .main {
    background-size: cover;
  }
  .main .subMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main .subMain .carousel {
    grid-column: 1/3;
  }
  .main .subMain .article1 {
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 1/3;
  }
  .main .subMain .article1 .imgLeft, .main .subMain .article1 .article .imgRight, .main .subMain .article .article1 .imgRight {
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 140px;
  }
  .main .subMain .article1 .imgRight {
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: 140px;
  }
  .main .subMain .article1 .contenedorTexto {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 3vw;
  }
  .main .subMain .article1 .contenedorTexto .text {
    position: relative;
    top: 5vh;
  }
  .main .subMain .article2 {
    margin: 10px;
    grid-column: 1/2;
    align-self: baseline;
  }
  .main .subMain .article2 .imgFuncional, .main .subMain .article2 .article .imgMiniBeast, .main .subMain .article .article2 .imgMiniBeast {
    height: 50vh;
    min-height: 400px;
  }
  .main .subMain .article3 {
    margin: 10px;
    grid-column: 2/3;
    align-self: baseline;
  }
  .main .subMain .article3 .imgMiniBeast {
    height: 50vh;
    min-height: 400px;
  }
  .h1-title {
    grid-column: 1/3;
  }
  .footer .subFooter {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .footer .subFooter .subSubFooter {
    grid-column: 1/2;
    margin-left: 3vw;
  }
  .footer .subFooter .logo_footer {
    width: 50%;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: center;
  }
  .subMainContainer {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .main .subMain {
    padding-bottom: 150px;
  }
  .subMainContainer {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .containerGaleriaImg1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .containerGaleriaImg8 {
    grid-column: 2/4;
    grid-row: 4/6;
  }
  .footer .subFooter {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .subFooter .subSubFooter1 {
    grid-column: 1/3;
  }
  .footer .subFooter .subSubFooter2 {
    grid-column: 1/2;
  }
  .footer .subFooter .subSubFooter3 {
    grid-column: 2/3;
  }
  .footer .subFooter .logo_footer {
    grid-column: 3/4;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar .container-fluid .navbar-brand .beastlogo {
    min-width: 90px;
  }
  .footer .subFooter {
    display: flex;
    justify-content: center;
  }
  .footer .subFooter .logo_footer {
    justify-self: center;
  }
  .main .subMain .article .contenedorTexto {
    font-size: 1.4em;
  }
  .main .subMain .article .imgLeft, .main .subMain .article .imgRight {
    max-height: 250px;
  }
  .main .subMain .article .imgRight {
    max-height: 250px;
  }
  .main .subMain .article .imgFuncional, .main .subMain .article .imgMiniBeast {
    max-height: 500px;
  }
  .main .subMain .article .imgMiniBeast {
    max-height: 500px;
  }
}
@media only screen and (min-width: 1220px) {
  .contenedorTexto {
    font-size: 1.8em;
  }
}/*# sourceMappingURL=styles.css.map */