
/* ESTILOS GENERALES */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2em;
    color: #EAC162;
    transition: 0.3s;
}
.padding-top {
    padding-top: 180px;
}
.navbar .container-fluid {
    max-width: 1000px;
}

.navbar-nav {
    flex-wrap: wrap;
}

.navbar-nav .nav-item {
    margin-right: 1vw;
}


.beastlogo {
    width: 100%;
    max-width: 90px;
    min-width: 50px;
    margin: 2%;
}

.main {
    /* min-width: 900px; */
    /* width: 100%; */
    /* background-color: black; */
    background-image: url(../media/background.jpeg);
    background-position: center;
    background-size: contain;
}
.subMain{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.789);
    /* width: 1200px; */
    width: 100%;
    max-width: 1400px;
    min-height: 700px;
    margin: auto;
    padding: 170px 40px 20px 40px;
}
.imgLeft {
    background-image: url(../media/beast1.jpg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    transition: 0.6s;
}
.imgRight {
    background-image: url(../media/beastfemenino.jpg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10px 10px;
    transition: 0.6s;
}
.imgLeft:hover, .imgRight:hover, .imgFuncional:hover, .imgMiniBeast:hover {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.615);
    transition: 0.6s;
}
.imgFuncional {
    background-image: url(../media/funcional.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: 0.6s;
}
.imgMiniBeast {
    background-image: url(../media/minibeast.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: 0.6s;
}
.article {
    padding: 10px;
    margin-bottom: 30px;
    transition: 0.6s;
}
.article:hover {
    background-color: rgba(255, 255, 255, 0.094);
    border-radius: 20px;
    transition: 0.6s;
}
.article .text {
    color: antiquewhite;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 0 8px;
    /* border: 1px solid blue; */
}
.article .subtitle {
    text-shadow: 2px 2px 5px black;
    /* border: 1px solid red; */
}

.footer {
    background-color: black;
    width: 100%;
}
.subFooter {
    display: grid;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.logo_footer{
    width: 100px;
    max-width: 140px;
    height: auto;
    margin: 10px;
    /* border: 1px solid red; */
}
.subSubFooter {
    display: block;
    bottom: 40px;
    margin-top: 10px;
    margin: 10px;
    /* border: 1px solid blue; */
}
/* .subSubFooter1 {
    min-width: 350px;
} */

/* COMO ENTRENAMOS */

.comoEntrenamosArticle {
    /* border: 1px solid red; */
    padding: 5px;
    margin: 20px;
}
.comoEntrenamosImg {
    width: 100%;
    /* border: 1px solid blue; */
    border-radius: 20px;
    transition: 500ms;

}
.comoEntrenamosVideo {
    width: 100%;
    max-width: 400px;
    max-height: 700px;
    border-radius: 20px;
    justify-self: center;
}
.comoEntrenamosVideo{
    width: 100%;
}
.subTitulo {
    padding-bottom: 25px;
    text-align: center;
}
.comoEntrenamosSubMain2Texto {
    padding: 7px 0;
    background-color: rgba(35, 29, 12, 0.671);
    border-radius: 10px;
    margin-bottom: 10px;
    list-style: none;
    color: #eddfc0;
    text-align: center;
}
.contenedorTexto {
    padding: 20px;
    margin-left: 10px;
}

/* GALERIA */
.carousel-item {
    max-height: 600px;
}
.carousel-inner {
    border-radius: 20px;
}

.containerGaleriaImg {
    /* float: left; */
    /* border: 1px solid rgb(255, 0, 0); */
    margin: 10px;
}
.galeriaImg {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    border-radius: 20px;
    transition: 500ms;
}
.galeriaImg:hover {
    transform: scale(105%);
    /* transition: 500ms; */
    box-shadow: 0px 10px 13px -7px #0000006c, 5px 5px 15px 5px rgba(0, 0, 0, 0.575);
}

/* CONTACTO */
.subMainContacto {
    max-width: 1400px;
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.789);
}
.contactoSpan {
    display: block;
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    background-color: #eac162a4;
    border-radius: 10px;
}
.contactoInput {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: white;
}
.contactoInput::placeholder {
    color: wheat;

}
.contactoSubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    background-color: #e5a717c3;
    color: white;
}
.contactoSubmit:hover {
    cursor: pointer;
    background-color: #e5a71758;
    transition: 500ms;
}

/* HORARIOS */
.asideHorarios {
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 10px;
}
.horarios {
    list-style-type: none;
}
.horarios1 {
    font-size: x-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgb(58, 32, 5);;;
    color: white;
    text-transform: capitalize;
}
.horarios2, .horarios6, .horarios8 {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    color: rgb(225, 133, 36);
}

/* NOTICIAS */
.noticiasArticle {
    height: auto;
    /* border: 1px solid red; */
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.113);
    border-radius: 10px;
}
.noticiasArticle1 {
    width: auto;

}
.noticiasArticle2 {
    width: auto;

}
.noticiasArticle3,.noticiasArticle4,.noticiasArticle5,.noticiasArticle6 {
    width: auto;

}
.imgNoticias {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.articleDiv {
    text-align: left;
    /* border: 1px solid green; */
}
.articleTitle {
    display: block;
    font-size: x-large;
    color: aliceblue;
    /* border: 1px solid blue; */
    margin-bottom: 5px;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@media only screen and (min-width:480px) {
    .main {
        background-size: cover;
    }
    .subMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .article1 {
        padding: 10px;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column: 1/3;
    }
    .imgLeft {
        grid-column: 1/2;
        grid-row: 1/2;
        min-height: 140px;
    }
    .imgRight {
        grid-column: 1/2;
        grid-row: 2/3;
        min-height: 140px;
    }
    .article1 .contenedorTexto {
        grid-column: 2/3;
        grid-row: 1/3;
        margin-left: 3vw;
    }
    .article1 .text {
        position: relative;
        top: 5vh;
    }
    .article2 {
        margin: 10px;
        grid-column: 1/2;
        align-self: baseline;
    }
    .article3 {
        margin: 10px;
        grid-column: 2/3;
        align-self: baseline;
    }
    .imgFuncional {
        height: 50vh;
        min-height: 400px;
    }
    .imgMiniBeast {
        height: 50vh;
        min-height: 400px;
    }
    .subFooter {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
    }
    .logo_footer {
        width: 50%;
        grid-column: 2/3;
        grid-row: 1/4;
        justify-self: center;
        /* border: 1px solid blue; */
        /* margin-left: 20vw; */
    }
    .subSubFooter {
        grid-column: 1/2;
        margin-left: 3vw;
    }

    /* GALERIA */
    .subMainContainer {
        display: grid;
        grid-column: 1/3;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:768px) {

    /* GALERIA */
    .subMainContainer {
        grid-column: 1/4;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .containerGaleriaImg1 {
        grid-column: 1/3;
        grid-row: 1/3;
        
    }
    .containerGaleriaImg8 {
        grid-column: 2/4;
        grid-row: 4/6;
    }
    .subFooter {
        grid-template-columns: 1fr 1fr 1fr
    }
    .subSubFooter1 {
        grid-column: 1/3;
    }
    .subSubFooter2 {
        grid-column: 1/2;
    }
    .subSubFooter3 {
        grid-column: 2/3;
    }
    .logo_footer {
        grid-column: 3/4;
    }
}

@media only screen and (min-width:1000px) {
    .subFooter {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* justify-content: space-around; */
        /* padding: 20px; */
    }
    .logo_footer{
        justify-self: center;
    }
    .contenedorTexto {
        font-size: 1.3em;
    }
}
@media only screen and (min-width:1220px) {
    .contenedorTexto {
        font-size: 2em;
    }
}
  