/* NOTICIAS */
.noticiasArticle {
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 10px;
  position: relative;


}
.noticiasArticle1 {
  width: auto;
}
.noticiasArticle2 {
  width: auto;
}
.noticiasArticle3,
.noticiasArticle4,
.noticiasArticle5,
.noticiasArticle6 {
  width: auto;
}
.imgNoticias {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  filter: blur(0px);
  transition: filter 0.3s ease-in;

  .noticiasArticle:hover & {
    filter: blur(10px);
  }
}

.noticiaTexto {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: rgba(0, 0, 0, 0.904);
  transition: 0.8s ease;
  color: $color7;
  border-radius: 10px;

  .noticiasArticle:hover & {
    opacity: 1;
    height: 100%;
  }
}

.noticiaHora {
  color: $color4;
  font-size: smaller;
  text-align: right;
}

.articleDiv {
  text-align: left;
  position: relative;
}
.articleTitle {
  display: block;
  font-size: x-large;
  color: aliceblue;
  margin-bottom: 5px;
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
