/* HORARIOS */

.asideHorarios {
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
}

.horarios {
    list-style-type: none;
}

.horarios1 {
    font-size: x-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgb(58, 32, 5);
    ;
    ;
    color: white;
    text-transform: capitalize;
}

.horarios2,
.horarios6,
.horarios8 {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    color: rgb(225, 133, 36);
}

/* CONTACTO */

.formContacto {
    max-width: 600px;
}

.contactoSpan {
    display: block;
    margin-bottom: 10px;
    background-color: #eac162a4;
    border-radius: 10px;
}

.contactoInput {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: white;
}

.contactoInput::placeholder {
    color: wheat;

}

.contactoSubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    background-color: #e5a717c3;
    color: white;
}

.contactoSubmit:hover {
    cursor: pointer;
    background-color: #e5a71758;
    transition: 500ms;
}