/* COMO ENTRENAMOS */
.main {
    .subMain1 {
        .comoEntrenamosArticle {
            @extend .noticiasArticle;
            background-image: linear-gradient(to left top, #6c0ed10a, #f6008716, #ff2e2e15, #f6a4000d, #a6eb1211);

            .comoEntrenamosImg {
                width: 100%;
                max-height: 450px;
                object-fit: cover;
                
                /* border: 1px solid blue; */
                border-radius: 10px!important;
                transition: 500ms;
                margin-bottom: 1rem;
            }

            .comoEntrenamosImg1 {
                object-position: top;
            }

            .comoEntrenamosImg3 {
                object-position: bottom;
            }

            .subtitle {
                margin-bottom: 1rem;
                color: $color1;
            }

            .text {
                color: $color2;
            }
        }
    }

    .subMain2 {
        padding: 20px;

        .comoEntrenamosVideo {
            width: 100%;
            max-width: 400px;
            max-height: 700px;
            border-radius: 20px;
            justify-self: center;
        }

        .comoEntrenamosVideoTexto {
            .contenedorTexto {
                padding-top: 10px;
                margin-left: 10px;

                .subTitulo {
                    padding-bottom: 25px;
                    text-align: center;
                }

                .comoEntrenamos-ul {
                    padding-left: 0;

                    .comoEntrenamosSubMain2Texto {
                        padding: 7px 0;
                        background-color: rgba(35, 29, 12, 0.671);
                        border-radius: 10px;
                        margin-bottom: 10px;
                        list-style: none;
                        color: #eddfc0;
                        text-align: center;
                    }
                }
            }
        }
    }
}