/* NOTICIAS */

.noticiasArticle {
  display: grid;
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  align-content: start;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.324);
    transition: 0.5s ease-in;

  }
}

.noticiaTexto {
  font-size: 1.3rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 8%;
  background-color: rgba(0, 0, 0, 0.904);
  transition: 0.4s ease;
  color: $color7;
  border-radius: 10px;

  &.collapse.show {
    min-height: 100%;
    display: grid;
  }
}

.imgNoticias {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
  filter: blur(0px);
  transition: 0.5s ease-in;
  scale: 1;

  .noticiasArticle:hover & {
    scale: 1.05;
  }
}

.noticiaHora {
  color: $color4;
  font-size: smaller;
  text-align: right;
}

.articleDiv {
  text-align: left;
  position: relative;
}
.articleTitle {
  display: block;
  font-size: x-large;
  color: aliceblue;
  margin-bottom: 1rem;
}

.articleText {
  margin-bottom: 2rem;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.divBtn {
  display: flex;
}

.divBtnRight {
  display: flex;
  justify-content: right;
}

.masInfo {
  align-self: flex-end;
}

